:root {
    --border-radius: 50px;
    --spotify-green: #1db954;
    --spotify-black: #121212;
    --spotify-almost-black: #212121;
    --spotify-dark-grey: #535353;
    --spotify-grey: #b3b3b3;
}


body {
    background-color: black;
    color: white;
    padding-bottom: 50px;
}

h1 {
    color: white;
    text-align: center;
    font-family: sans-serif;
}

p {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}

div {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    text-align: center;
}

#spotify_redirect {
    background-color: var(--spotify-green);
    color: var(--spotify-black);
    border: none;
    border-radius: 999px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
}

#input_box_whole {
    background: var(--spotify-almost-black);
    border-radius: var(--border-radius) var(--border-radius) 30px 30px;
    width: 701px;
    margin: 0 auto;
}

.input_field {
}

.method-selector {
    display: flex;
    align-items: stretch;
    background: white;
    padding: 0;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    gap: 0;
    white-space: nowrap;
    width: 700px;
    margin: 0 auto;
}

.method-button {
    flex: 1;
    border: none;
    background: white;
    color: var(--spotify-black);
    padding: 12px 30px;
    border-radius: 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}

.method-button:first-child {
    border-radius: var(--border-radius) 0 0 0;
}

.method-button:last-child {
    border-radius: 0 var(--border-radius) 0 0;
}

.method-button:hover {
    background: #a3a3a3;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.method-button.active {
    background: #1db954;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: 600;
    color: var(--spotify-black);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

#target_song_url {
    background-color: var(--spotify-dark-grey);
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 20px; /* Extra padding for internal icon */
    font-size: 14px;
    outline: none;
    width: 300px;
    transition: background-color 0.2s ease;
}

#comparison_url {
    background-color: var(--spotify-dark-grey);
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 20px; /* Extra padding for internal icon */
    font-size: 14px;
    outline: none;
    width: 300px;
    transition: background-color 0.2s ease;
}

#data_submission {
    background-color: var(--spotify-green);
    color: var(--spotify-black);
    border: none;
    border-radius: 999px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

#overwrite_text_placeholder {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    background: var(--spotify-almost-black);
    padding: 15px 25px;
    border-radius: var(--border-radius)
}

#output_text_div {
    position: relative;
    display: flex;
    max-width: 600px;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 20px;
}

#target_song_output {
    background: var(--spotify-almost-black);
    padding: 15px 25px;
    border-radius: var(--border-radius)
}

#comparison_output {
    background: var(--spotify-almost-black);
    padding: 15px 25px;
    border-radius: var(--border-radius)
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--spotify-green);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

#output_area_div {
    position: relative;
}

#distance_data {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    background: var(--spotify-almost-black);
    padding: 15px 25px;
    border-radius: var(--border-radius)
}

#distance_data th:nth-child(1),
#distance_data td:nth-child(1){
    width: 50px;
}

#distance_data th:nth-child(2),
#distance_data td:nth-child(2){
    width: 200px;
}

#distance_data th:nth-child(3),
#distance_data td:nth-child(3){
    width: 100px;
}

#distance_data th {
    background: var(--spotify-dark-grey);
    padding: 10px 20px;
}

#distance_data th:first-child {
    border-radius: 20px 0 0 20px;
}

#distance_data th:last-child {
    border-radius: 0 20px 20px 0;
}

#distance_data td {
    background: var(--spotify-dark-grey);
    padding: 10px 20px;
}


#distance_data td:first-child {
    border-radius: 20px 0 0 20px;
}

#distance_data td:last-child {
    border-radius: 0 20px 20px 0;
}

#distance_data table {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border-spacing: 0 10px;
    table-layout: fixed;
}

#sorted_switch_desc {
    background: var(--spotify-almost-black);
    padding: 10px 20px;
    border-radius: var(--border-radius);
    margin-bottom: 5px;
}

#sorted_switch_container {
    position: absolute;
    left: calc(50% + 275px);
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    align-items: center
}