<!DOCTYPE html>
<html>
<head>
    <title>Spotify Recommender</title>
    <link rel = "stylesheet" href = "/static/style.css">
</head>

<body>
    <h1>Spotify Song Recommender</h1>
    <div id = "intro_area_div">
        <p id = "intro_message">This website takes a target song that you choose and finds the closest songs
        in a comparison object, such as a playlist, album, or artist's catalogue.</p>
    </div>
    {% if should_show_login_button %}
    <!--    create authentication button -->
        <form action = "/login" method = "get">
            <button id = "spotify_redirect" type = "button">Log in to Spotify</button>
        </form>
    {% else %}
        <div id = "logged_in_display_div">
            <div id = "user_data_display_div">
            {% if user_pfp %}
                <img id = "user_pfp" src = "{{ user_pfp }}">
            {% endif %}
            <span id = "logged_in_message">{{ user_name }}</span>
            </div>
            <form action = "/logout" method = "get">
                <button id = "spotify_logout" type = "button">Logout</button>
            </form>
        </div>

    {% endif %}
    <p>Select your comparison method below:</p>

    <div id = "input_box_whole">
        <div id = "temp_messages_div">
            <span id = "login_warning_message">
            Please be aware that login is required to access Spotify playlists, and only playlists you
            own can be analysed. Unfortunately, due to Spotify's API policy, login will not work unless
            I can approve your account. Please contact me if you want to use your playlists.
            If you do not log in and attempt to access playlists, you will be redirected to
            Spotify and the page will reload once you return, erasing the URLs you submit.
            </span>
            <br>
            <br>
            <span id = "options_3_4_not working_warning">Warning: 'Generate recommendations' and 'Extra'
            are not yet functional.
            </span>
        </div>

        <div id = "url_and_method_box_div">
            <div class = "method-selector">
                <button class = "method-button active" data-method = "playlist/album">
                        Playlist/Album
                </button>

                <button class = "method-button" data-method = "artist">
                        Artist
                </button>

                <button class = "method-button" data-method = "random_recs">
                        Generate Recommendations
                </button>

                <button class = "method-button" data-method = "extra">
                        Extra
                </button>
            </div>
        <!--    create submission field -->
            <p class = "input_field">Please paste the full URL of your target song below:</p>
            <input id = "target_song_url" type = "text" name = "target_song_url" class = "input_field">
            <p id = "comparison_url_entry_message" class = "input_field">Please paste the full URL of your playlist/album below:</p>
            <input id = "comparison_url" type = "text" name = "comparison_url" class = "input_field">
            <form action = "/data_request" method = "post">
                <button id = "data_submission" type = "button">Submit</button>
            </form>
        </div>

        <div id = "weight_selector_div">
            <span id = "weightings_message">If you would like to manually adjust parameter weightings
                you can do so here. Higher weightings means the ranking will prefer songs that are close
                in these features over other features.
            </span>
            <div id = "duration" class = "weight_row">
                <span>Duration</span>
                <input class = "weighting_scale" type = "range" value = "1" min = "0" max = "10" step = "0.1">
                <span class = "weighting_value_display">1</span>
            </div>
            <div id = "tempo" class = "weight_row">
                <span>Tempo</span>
                <input class = "weighting_scale" type = "range" value = "1" min = "0" max = "10" step = "0.1">
                <span class = "weighting_value_display">1</span>
            </div>
            <div id = "acousticness" class = "weight_row">
                <span>Acousticness</span>
                <input class = "weighting_scale" type = "range" value = "1" min = "0" max = "10" step = "0.1">
                <span class = "weighting_value_display">1</span>
            </div>
            <div id = "danceability" class = "weight_row">
                <span>Danceability</span>
                <input class = "weighting_scale" type = "range" value = "1" min = "0" max = "10" step = "0.1">
                <span class = "weighting_value_display">1</span>
            </div>
            <div id = "energy" class = "weight_row">
                <span>Energy</span>
                <input class = "weighting_scale" type = "range" value = "1" min = "0" max = "10" step = "0.1">
                <span class = "weighting_value_display">1</span>
            </div>
            <div id = "instrumentalness" class = "weight_row">
                <span>Instrumentalness</span>
                <input class = "weighting_scale" type = "range" value = "1" min = "0" max = "10" step = "0.1">
                <span class = "weighting_value_display">1</span>
            </div>
            <div id = "liveness" class = "weight_row">
                <span>Liveness</span>
                <input class = "weighting_scale" type = "range" value = "1" min = "0" max = "10" step = "0.1">
                <span class = "weighting_value_display">1</span>
            </div>
            <div id = "loudness" class = "weight_row">
                <span>Loudness</span>
                <input class = "weighting_scale" type = "range" value = "1" min = "0" max = "10" step = "0.1">
                <span class = "weighting_value_display">1</span>
            </div>
            <div id = "speechiness" class = "weight_row">
                <span>Speechiness</span>
                <input class = "weighting_scale" type = "range" value = "1" min = "0" max = "10" step = "0.1">
                <span class = "weighting_value_display">1</span>
            </div>
            <div id = "valence" class = "weight_row">
                <span>Valence</span>
                <input class = "weighting_scale" type = "range" value = "1" min = "0" max = "10" step = "0.1">
                <span class = "weighting_value_display">1</span>
            </div>
            <button id = "weights_reset_button">Reset weights</button>
        </div>

    </div>

    <div id = "output_text_div">
        <p id = "overwrite_text_placeholder" class = "output_text" style = "display: none"></p>
        <p id = "target_song_output" class = "output_text">Your target song appears here</p>
        <p id = "comparison_output" class = "output_text">Your playlist/album name appears here</p>
    </div>
    <div id = "output_area_div">
        <div id = "distance_data" class = "output_text" style = "display: none"></div>
        <div id = "sorted_switch_container" style = "display: none">
            <!--    Make an option to show sorted vs unsorted data -->
            <span id = "sorted_switch_desc">Sort entries by similarity</span>
            <label id = "sorted_switch_label" class = "switch">
                <input id = "sorted_switch" type = "checkbox">
                <span class = "slider round"></span>
            </label>
        </div>
    </div>

<script src="{{ url_for('static', path='script.js') }}"></script>

</body>
</html>