<!DOCTYPE html>
<html>
<head>
    <title>Spotify Recommender</title>
</head>

<body>
    <h1>Spotify Song Recommender</h1>
<!--    create submission field -->
    <form action = "/hello" method = "post">
        <input id = "name" type = "text" name = "name">
        <button id = "submission" type = "button">Submit</button>
    </form>

    <p id="output">JavaScript is inactive :(.</p>

    <p id = "greeting">Hi</p>

<script src="{{ url_for('static', path='script.js') }}"></script>

</body>
</html>