<!DOCTYPE html>
<html>
<head>
    <title>Spotify Recommender</title>
    <link rel = "stylesheet" href = "/static/style.css">
</head>

<body>
    <h1>Spotify Song Recommender</h1>
<!--    create authentication button -->
    <form action = "/login" method = "get">
        <p>Please log in to Spotify below, this is required to access private playlists:</p>
        <button id = "spotify_redirect" type = "button">Log in to Spotify</button>
    </form>
    <p>Select your comparison method below:</p>
    <div class = "method-selector">
        <button class = "method-button active" data-method = "playlist/album">
                Playlist/Album
        </button>

        <button class = "method-button" data-method = "artist">
                Artist
        </button>

        <button class = "method-button" data-method = "random_recs">
                Generate Recommendations
        </button>

        <button class = "method-button" data-method = "extra">
                Extra
        </button>
    </div>
<!--    create submission field -->
    <form action = "/data_request" method = "post">
        <p>Please paste the full URL of your target song below:</p>
        <input id = "target_song_url" type = "text" name = "target_song_url">
        <p id = "comparison_url_entry_message">Please paste the full URL of your playlist/album below:</p>
        <input id = "comparison_url" type = "text" name = "comparison_url">
        <br>
        <button id = "data_submission" type = "button">Submit</button>
    </form>

    <div id = "output_text_div">
        <p id = "overwrite_text_placeholder" class = "output_text" style = "display: none"></p>
        <p id = "target_song_output" class = "output_text">Your target song appears here</p>
        <p id = "comparison_output" class = "output_text">Your playlist/album name appears here</p>
    </div>
    <div id = "output_table_div">
<!--    Make an option to show sorted vs unsorted data -->
        <label id = "sorted_switch" class = "switch" style = "display: none">
            <input type = "checkbox">
            <span class = "slider round"></span>
        </label>
        <div id = "distance_data" class = "output_text"></div>
    </div>

<script src="{{ url_for('static', path='script.js') }}"></script>

</body>
</html>